{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Restaurant{% endblock %}</title>
        <link rel="icon" href="{% static 'restaurant/images/logo.png' %}">
        <link rel="stylesheet" href="{% static 'restaurant/css/base.css' %}" type="text/css">
        {% block stylesheet %}
        {% endblock %}
    </head>
    <body>
        <header class='container-flex'>
            <a id='logo' href="{% url 'home' %}"><img class='image' src="{% static 'restaurant/images/logo.png' %}" alt="logo"></a>
            {% block main-header %}
            {% endblock %}
            {% block body %}
            <nav class='container-flex'>
                {% if user.is_authenticated %}
                        <ul class='container-flex nav-list'>
                            {% for path in auth_paths %}
                                {% if path != request.resolver_match.view_name %}
                                    <li class='nav-item'><a href="{% url path %}">{{path|capfirst}}</a></li>
                                {% else %}
                                    <li class='nav-item'>{{path|capfirst}}</li>
                                {% endif %}
                            {% endfor %}
                            <li class='nav-item'>
                                <form id='exclude' method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                        <button class='button' type="submit">Log out</button>
                                </form>
                            </li>
                        </ul>
                {% else %}
                    <ul class='container-flex nav-list'>
                        {% for path in guest_paths %}
                            {% if path != request.resolver_match.view_name %}
                                <li class='nav-item'><a href="{% url path %}">{{path|capfirst}}</a></li>
                            {% else %}
                                <li class='nav-item'>{{path|capfirst}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </nav>
        </header>
        <hr>
        <h3 class='text-center'>You are now logged in as {{user.username|capfirst|default:'Guest'}}!</h3>
        <hr>
        {% endblock %}
        {% block content %}
        {% endblock %}
        <footer>
            <div class='container-flex footer-blobs'>
                <div>
                    <p class='smaller'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium, tellus sed feugiat placerat, elit.</p>
                </div>
                <div>
                    <p class='text-center'><a href='#'>Privacy Policy / Terms of Use</a></p>
                </div>
                <div>
                    <p class='text-center'><a class='button' href="https://www.google.com/maps/dir//General+Assembly,+10+E+21st+St,+New+York,+NY+10010,+United+States/@40.7399045,-73.9927773,715m/">Directions</a></p>
                </div>
            </div>
            <div>
                <p id='copyright'><a href="https://github.com/malekbadarin">Malek Badarin 2025<span class='superscript]'>©</span></a></p>
            </div>
        </footer>
    </body>
    <script src={% static 'restaurant/js/base.js' %}></script>
</html>