{% extends "base.html" %}
{% load static %}

{% block title %}Menu{% endblock %}

{% block main-header %}
    <h1>Menu</h1>
{% endblock %}

{% block content %}
    <p>Enjoy our delicious offerings</p>
    {% for item in menu %}
        <div class="menu-item">
            <img src="{% static 'restaurant/images/'|add:item.name|add:'.png' %}" alt="{{ item.name }}">
            <h2>{{ item.name }}</h2>
            <p>{{ item.desc }}</p>
            <p>{{item.ingredients}}</p>
            <p>Price: JOD {{ item.unti_price }}</p>
            <p>Portion suggestion: {{item.portions}} people</p>
        </div>
    {% endfor %}
{% endblock %}