{% extends "restaurant/base.html" %}
{% load static %}

{% block content %}
    <main class='container'>
        <div class='container heading'>
            <h1>Review Order</h1>
        </div>
        {% for item in order.orderitem_set.all %}
            <div class='container breadcrumbs'>
                <ul class='container breadcrumbs-list'>
                    <li class='breadcrumbs-item inactive'><a href="{% url 'order-menu' %}">Menu</a></li>
                    <li class='breadcrumbs-item active'>Review</li>
                    <li class='breadcrumbs-item inactive'>Confirmation</li>
                </ul>
            </div>
            <div class='container review-card'>
                <img class='review-card-img' src="{% static 'restaurant/images/delivery_info/'|add:order.order_type|add:'.png' %}" alt="{{ item.menu_item.name }}">
                <div class='container review-card-text'>
                    <h3 class='review-card-name'>{{ item.menu_item.name }}</h3>
                    <p class='review-card-desc'>{{ item.menu_item.desc }}</p>
                </div>
                <h3 class='review-card-subtotal'>{{ item.subtotal }}</h3>
                <div class='review-card-quantity'>
                    {% if item.subtotal > 0 %}
                        <p class='button'><a href="{% url 'remove-item' item.id %}">-</a></p>
                        <input type="number" class='quantity' name="quantity" min=0 value={{ item.quantity|default:0 }}>
                        <p class='button'><a href="{% url 'add-item' item.id %}">+</a></p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class='container total'>
                <h3>Total:</h3>
                <h3>{{ order.total }}</h3>
        </div>
        <div class='container review-delivery-options'>
            {% if order.order_type == 'I' %}

            {% elif order.order_type == 'P' %}

            {% else %}
                <input type="" class='input-choice' id="address" name="address" default="{{ user.address }}">
            {% endif %}
        </div>
        {% comment %} 
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.orderitem_set.all %}
                    <tr>
                        <td>{{ item.menu_item.name }}</td>
                        <td>{{ item.quantity }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td>{{ order.total }}
                </tr>
            </tbody>
        </table> {% endcomment %}
        <a href = "{% url 'order-confirmation' order.id %}"><p>Place order</p>
        <a href={% url 'order-menu' %}><p>Back to menu</p></a>
    </main>
{% endblock %}