{% extends "restaurant/base.html" %}
{% load static %}

{% block title %}Menu{% endblock %}

{% block content %}
    <main class='container'>
        <div class='container heading'>
            <h1>Our Menu</h1>
            <h3>Add items to your order!</h3>
        </div>
        <div class='container menu-container'>
            {% for item in menu %}
                <div class='container card' id="dish-{{ item.id }}">
                    <img class='dish-img' src="{% static 'restaurant/images/dishes/dish'|add:item.id|add:'.png' %}" alt="{{ item.desc }}">
                    <h3 class='dish-name'>{{ item.name }}</h3>
                    <p class='dish-desc'>{{ item.desc }}</p>
                    <p class='dish-ingrdients'><em>{{ dish.ingredients }}</em></p>
                    <div class="container add-remove-quantity">
                        <p class='button'><a href="{% url 'remove-item' item.id %}">-</a></p>
                        <input type="number" class='quantity' name="quantity" min=0 value={{ item.quantity|default:0 }}>
                        <p class='button'><a href="{% url 'add-item' item.id %}">+</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if order.total %}
            <div class='container'>
                <p class='total'>Total order: {{ order.total }}</p>
            </div>
            <div class='container'>
                <a href="{% url 'order-review' order.id|default:0 %}"><p>Review and place order</p></a>
            </div>
        {% endif %}
    </main>
{% endblock %}