{% extends "restaurant/base.html" %}
{% load static %}

{% block content %}
    <main class='container'>
        <div class='container heading'>
            <h1>Review Order</h1>
        </div>
            <div class='container breadcrumbs'>
                <ul class='container breadcrumbs-list'>
                    <li class='breadcrumbs-item inactive'><a href="{% url 'order-menu' %}">Menu</a></li>
                    <li class='breadcrumbs-item active'>Review</li>
                    <li class='breadcrumbs-item inactive'>Confirmation</li>
                </ul>
            </div>
            <form class='container review' action="{% url 'order-confirmation' order.id %}" method='post'>
                {% csrf_token %}
                {% for item in order.orderitem_set.all %}
                    <div class='container review-card'>
                        <img class='review-card-img' src="{% static 'restaurant/images/delivery_info/'|add:order.order_type|add:'.png' %}" alt="{{ item.menu_item.name }}">
                        <div class='container review-card-text'>
                            <h3 class='review-card-name'>{{ item.menu_item.name }}</h3>
                            <p class='review-card-desc'>{{ item.menu_item.desc }}</p>
                            {% if item.menu_item.allergen != 'NA' %}   
                                <img class='allergen-icon' src="{% static 'restaurant/images/allergens/'|add:item.menu_item.allergen|add:'.png' %}" alt="{{ item.menu_item.get_allergen_display }}">
                            {% endif %}
                        </div>
                        <h3 class='review-card-subtotal'>{{ item.subtotal }}</h3>
                        <div class='review-card-quantity'>
                            <p class='button'>-</p>
                            <input type="number" id="{{ item.html_name }}" name="{{ item.html_name }}" min=0 value="{{ item.quantity }}"> 
                            <p class='button'>+</p>
                        </div>
                    </div>
                {% endfor %}
                <div class='container total'>
                    <h3>Total:</h3>
                    <h3>{{ order.total }}</h3>
                </div>
                <div class='container review-delivery-options'>
                    <p>Your order type: <a href={% url 'order-menu' %}>{{ order.get_order_type_display }}</a></p>
                    {% if order.order_type == 'I' %}
                        <label for="reservation-datetime">Reservation date and time:</label>
                        <input type="datetime-local" id="reservation-datetime" name="reservation-datetime" value="2025-04-01T00:00">
                        <label for="reservation-table">Select your table:</label>
                        <select id="table" name="table">
                            {% for table in tables %}
                                <option value="{{ table }}">Table {{ table }}</option>
                            {% endfor %}
                        </select>
                        <p class='button'>-</p>
                        <label for="party">Party:</label>
                        <input type="number" id='party' name="party" min="1" max="20" value="1">
                        <span> person(s).</span>
                        <p class='button'>+</p>
                    {% elif order.order_type == 'P' %}
                        <label for="pickup-time">Pick-up time:</label>
                        <input type="time" id="pickup-time" name="pickup-time" value="00:00">
                    {% else %}
                        <input type="" class='input-choice' id="address" name="address" default="{{ user.address }}">
                    {% endif %}
                </div>
                <button type="submit" class='button submit'>Place order</button>
                <p><a class='button' href={% url 'order-menu' %}>Back to menu</a></p>
            </form>
            {% comment %}
                older iteration without a proper form
                <div class='container review-card'>
                    <img class='review-card-img' src="{% static 'restaurant/images/delivery_info/'|add:order.order_type|add:'.png' %}" alt="{{ item.menu_item.name }}">
                    <div class='container review-card-text'>
                        <h3 class='review-card-name'>{{ item.menu_item.name }}</h3>
                        <p class='review-card-desc'>{{ item.menu_item.desc }}</p>
                        {% if item.menu_item.allergen != 'NA' %}   
                            <img class='allergen-icon' src="{% static 'restaurant/images/allergens/'|add:item.menu_item.allergen|add:'.png' %}" alt="{{ item.menu_item.get_allergen_display }}">
                        {% endif %}
                    </div>
                    <h3 class='review-card-subtotal'>{{ item.subtotal }}</h3>
                    <div class='review-card-quantity'>
                        {% if item.subtotal > 0 %}
                            <p class='button'>-</p>
                            <input type="number" class='quantity' name="quantity" min=0 value={{ item.quantity|default:0 }}>
                            <p class='button'>+</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class='container total'>
                        <h3>Total:</h3>
                        <h3>{{ order.total }}</h3>
                </div>
                <div class='container review-delivery-options'>
                    {% if order.order_type == 'I' %}
                        <label for="reservation-datetime">Reservation date and time:</label>
                        <input type="datetime-local" id="reservation-datetime" name="reservation-datetime">
                        <label for="reservation-table">Select your table:</label>
                        <select id="table" name="table">
                            {% for table in tables %}
                                <option value="table">Table {{ table }}</option>
                            {% endfor %}
                        </select>
                    {% elif order.order_type == 'P' %}
                        <label for="pickup-time">Pick-up time:</label>
                        <input type="time" id="pickup-time" name="pickup-time">
                    {% else %}
                        <input type="" class='input-choice' id="address" name="address" default="{{ user.address }}">
                    {% endif %}
                </div> {% endcomment %}
                {% comment %}
                even older iteration with a table (proof of concept)
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.orderitem_set.all %}
                            <tr>
                                <td>{{ item.menu_item.name }}</td>
                                <td>{{ item.quantity }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>Total</td>
                            <td>{{ order.total }}
                        </tr>
                    </tbody>
                </table>
            {% endcomment %}
    </main>
{% endblock %}