{% extends "restaurant/base.html" %}
{% load static %}

{% block title %}Menu{% endblock %}

{% block stylesheet %}
    <link href="{% static 'restaurant/css/order_menu.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main class='container'>
        <ul class='container-flex breadcrumbs-list pointless'>
                    <li class='breadcrumbs-item active'>Menu</li>
                    <li class='breadcrumbs-item inactive'>Review</li>
                    <li class='breadcrumbs-item inactive'>Confirmation</li>
        </ul>
        <form class='container-flex form' action="{% url 'order-review' %}" method='post'>
            {% csrf_token %}
            <div class='container-flex sticky'>
                <div id='total-container'>
                    <h3>Total:</h3>
                    <h3 id='total-heading'></h3><span> JOD</span>
                </div>
                <button type="submit" class='review-button button'>
                    <h3>Review order</h3>
                </button>
                <div class='container-flex order-type'>
                    <label for="order-type">Select your order type:</label>
                    <select id="order-type" name="order-type">
                        <option value="I">Dine In</option>
                        <option value="P">Pickup</option>
                        <option value="D">Delivery</option>
                    </select>
                </div>
            </div>
            <div class='container menu'>
                {% for item in menu %}
                    {% if item.is_available %}
                        <div class='container-flex card' data-price="{{ item.unit_price }}" id="dish-{{ item.id }}">
                            <img class='dish-img' src="{% static 'restaurant/images/dishes/'|add:item.html_name|add:'.png' %}" alt="{{ item.desc }}" title="{{ item.name }}">
                            <div class='container card-text'>
                                <h3 class='dish-name'>{{ item.name }}</h3>
                                <p class='dish-desc'>{{ item.desc }}</p>
                                {% if item.allergen != 'NA' %}
                                    <p class='allergens'>Allergens:</p>
                                    <img class='allergen-icon' src="{% static 'restaurant/images/allergens/'|add:item.allergen|add:'.png' %}" title="{{ item.get_allergen_display }}" alt="{{ item.get_allergen_display }}">
                                {% else %}
                                    <p class='allergens'>Contains no allergens.</p>
                                {% endif %}
                                <p class='dish-ingredients'>{{ item.ingredients }}</p>
                            </div>
                            <div class="container-flex add-remove-quantity">
                                <p class='button sub-button'>-</p>
                                <input class='qty-input' type="number" id="{{ item.html_name }}" name="{{ item.html_name }}" min="0" value="{{ item.quantity|default:"0" }}">
                                <p class='button add-button'>+</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </form>
        {% comment %}Older iteration that did not utilise form logic.
            
            <div class='container menu-container'>
                {% for item in menu %}
                    {% if item.is_available %}
                        <div class='container card' id="dish-{{ item.id }}">
                            <img class='dish-img' src="{% static 'restaurant/images/dishes/dish'|add:item.id|add:'.png' %}" alt="{{ item.desc }}">
                            <h3 class='dish-name'>{{ item.name }}</h3>
                            <p class='dish-desc'>{{ item.desc }}</p>
                            {% if item.allergen != 'NA' %}   
                                <img class='allergen-icon' src="{% static 'restaurant/images/allergens/'|add:item.allergen|add:'.png' %}" alt="{{ item.get_allergen_display }}">
                            {% endif %}
                            <p class='dish-ingrdients'><em>{{ dish.ingredients }}</em></p>
                            <div class="container add-remove-quantity">
                                <p class='button'><a href="{% url 'remove-item' item.id %}">-</a></p>
                                <input type="number" class='quantity' name="quantity" min=0 value={{ item.quantity|default:0 }}>
                                <p class='button'><a href="{% url 'add-item' item.id %}">+</a></p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if order.total %}
                <div class='container'>
                    <p class='total'>Total order: {{ order.total }}</p>
                </div>
                <div class='container'>
                    <a href="{% url 'order-review' order.id|default:0 %}"><p>Review and place order</p></a>
                </div>
        {% endcomment %}
    </main>
{% endblock %}