* {
    /* border: 1px red dashed; */
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    transition: all 175ms;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

p, a, li, button{
    font-size: 1.25rem;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.75rem;
}

h3{
    font-size: 1.5rem;
}

button:hover, a:hover, .button:hover, .nav-lsit:hover {
    color: red !important;
    cursor: pointer;
    text-decoration: underline;
}

.button {
    border-radius: 5px;
    background-color: #42bbbb;
    color: #f0f0f0;
}

.bigger-button{
    padding: 10px;
}

input{
    text-align: center;
    border: 1px #42bbbb solid;
    border-radius: 5px;
}

.qty-input{
    border: none;
}

.add-button, .sub-button{
    border-radius: 50%;
    width: 1em;
    line-height: 1;
    background-color: #42bbbb;
    text-align: center;
    aspect-ratio: 1 / 1;
    vertical-align: middle;
}

#user-greeting{
    margin-bottom: 15px;
}

header{
    position: relative;
}

#logo {
    margin: 30px 0 0 30px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.nav-list, .breadcrumbs-list {
    border: 1px #42bbbb solid;
    border-radius: 20px;
    padding: 0 10px;
}

.pointless{
    list-style: none;
}

.nav-list, .nav-list *{
    background-color: #42bbbb;
    text-align: center;
}

.nav-item, .nav-item a {
    margin: 0 5px 0 0;
    color: #f0f0f0;
}

.nav-item+.nav-item {
    border-left: 2px #f0f0f0 solid;
    padding-left: 5px;
}

.breadcrumbs-item{
    padding: 20px 80px;
}

.breadcrumbs-item.active{
    text-decoration: underline;
    font-weight: bold;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumbs-list{
    justify-content: center;
}

#exclude{
    border: none;
}

form:not(#exclude){
    flex-direction: column; 
    border-bottom: 2px #42bbbb solid;
    border-left: 2px #42bbbb solid;
    border-right: 2px #42bbbb solid;
    border-radius: 5px;;
    margin: 5px;
    padding: 10px; 
}

.dish-ingredients, .allergens{
    font-style: italic;
}

.dish-img {
    max-height: 25%;
    max-width: 25%;
    border: 1px #42bbbb solid;
}

.allergen-icon{
    max-height: 5%;
    max-width: 5%;
}

footer, footer * {
    background-color: #e6e6e6;
}

.footer-blobs > div {
    flex: 1;
}

footer {
    margin-top: 30px;
    padding: 0 30px;
    border-top: 1px solid #000;
}

.text-center, .heading{
    text-align: center;
}

.superscript {
    font-size: smaller;
    vertical-align: super;
}

#copyright {
    padding: 10px 0;
}

@media screen and (max-width: 550px){
    .nav-list{
        display: block;
        padding: 10px 0;
    }
    .nav-item+.nav-item{
            border-left: none;
    }
    .nav-item{
        border-bottom: 2px #f0f0f0 solid;
        padding: 0 0 5px 0;
    }
    .breadcrumbs-item{
        padding: 20px 40px;
    }
}

@media screen and (max-width: 344px){
    *{
        padding: 0 !important; 
        margin: 0 !important;
    }
    .nav-list{
        border: none;
        border-radius: 0;
    }
}

@media screen and (max-width: 300px){
    *:not(.dish-img):not(.allergen-icon){
        max-height: 50% !important;
        display: block !important;
        position: static !important;
        min-width: 0 !important;
        max-width: 100% !important;
        font-size: 1em !important;
        transform: rotate(0) !important;
    }
    a:has(img:not(.allergen-icon)){
        margin-left: auto !important;
        margin-right: auto !important;
    }
    img:not(.allergen-icon) {
        max-height: 100% !important;
        max-width: 100% !important;
    }
    .sticky{
        position: sticky !important;
        text-align: center;
        z-index: 2;
    }
}