{% extends "restaurant/base.html" %}
{% load static %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'restaurant/css/order_review.css' %}">{% endblock %}

{% block content %}
    <main class='container'>
            <div class='container breadcrumbs'>
                <ul class='container-flex breadcrumbs-list pointless'>
                    <li class='breadcrumbs-item inactive'><a href="{% url 'order-menu' %}">Menu</a></li>
                    <li class='breadcrumbs-item active'>Review</li>
                    <li class='breadcrumbs-item inactive'>Confirmation</li>
                </ul>
            </div>
            <form class='container review' action="{% url 'order-confirmation' order.id %}" method='post'>
                {% csrf_token %}
                {% for item in order.orderitem_set.all %}
                    <div class='container-flex review-card card' data-price="{{ item.menu_item.unit_price }}">
                        <img class='dish-img' src="{% static 'restaurant/images/dishes/'|add:item.html_name|add:'.png' %}" alt="{{ item.menu_item.name }}">
                            <div class='container review-card-text'>
                                <h3 class='review-card-name'>{{ item.menu_item.name }}</h3>
                                <p class='review-card-desc'>{{ item.menu_item.desc }}</p>
                                {% if item.menu_item.allergen != 'NA' %}
                                    <p class='allergens'>Allergens:</p>
                                    <img class='allergen-icon' src="{% static 'restaurant/images/allergens/'|add:item.menu_item.allergen|add:'.png' %}" title="{{ item.menu_item.get_allergen_display }}" alt="{{ item.menu_item.get_allergen_display }}">
                                {% else %}
                                    <p class='allergens'><br>Contains no allergens.</p>
                                {% endif %}
                            </div>
                        <div class='container-flex quantity-price'>
                            <h3 class='review-card-subtotal'>{{ item.subtotal }}</h3>
                            <div class='container-flex review-card-quantity'>
                                <p class='sub-button button'>-</p>
                                <input class='qty-input' type="number" id="{{ item.html_name }}" name="{{ item.html_name }}" min=0 value="{{ item.quantity }}"> 
                                <p class='add-button button'>+</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class='container total'>
                    <hr>
                    <h3>Total:</h3>
                    <h3 id='total-heading'></h3>
                </div>
                <div class='container review-delivery-options'>
                    <p>Your order type: <a href={% url 'order-menu' %}>{{ order.get_order_type_display }}</a></p>
                    {% if order.order_type == 'I' %}
                        <label id='reservation-datetime-label' for="reservation-datetime">Reservation date and time:</label>
                        <input type="datetime-local" id="reservation-datetime" name="reservation-datetime"><span id='reservation-warning' style='color: red;'></span>
                        <label for="reservation-table">Select your table:</label>
                        <select id="table" name="table">
                            {% for table in tables %}
                                <option value="{{ table }}">Table {{ table }}</option>
                            {% endfor %}
                        </select>
                        <div class='container-flex party-container'>
                            <label for="party">Party:</label>
                            <p class='sub-button button'>-</p>
                            <input class='qty-input' type="number" id='party' name="party" min="1" max="20" value="1">
                            <p class='add-button button'>+</p>
                            <span> person(s).</span>
                        </div>
                    {% elif order.order_type == 'P' %}
                        <label for="pickup-time">Pick-up time:</label>
                        <input type="time" id="pickup-time" name="pickup-time"><span id='pickup-warning' style='color: red;'></span>
                    {% else %}
                        <label for="address">Delivery address:</label>
                        <type type="text" class='address' id="address" name="address" value="">
                        {% comment %} <select class='input-select' id="address" name="address" value="{{ default_address }}">
                            <option value=></option>
                        </select> {% endcomment %}
                    {% endif %}
                </div>
                <div class='container-flex container-buttons'>
                    <p><a class='button bigger-button' href={% url 'order-menu' %}>Back to menu</a></p>
                    <button type="submit" class='button bigger-button submit'>Place order</button>
                </div>
            </form>
            {% comment %}
                older iteration without a proper form
                <div class='container review-card'>
                    <img class='review-card-img' src="{% static 'restaurant/images/delivery_info/'|add:order.order_type|add:'.png' %}" alt="{{ item.menu_item.name }}">
                    <div class='container review-card-text'>
                        <h3 class='review-card-name'>{{ item.menu_item.name }}</h3>
                        <p class='review-card-desc'>{{ item.menu_item.desc }}</p>
                        {% if item.menu_item.allergen != 'NA' %}   
                            <img class='allergen-icon' src="{% static 'restaurant/images/allergens/'|add:item.menu_item.allergen|add:'.png' %}" alt="{{ item.menu_item.get_allergen_display }}">
                        {% endif %}
                    </div>
                    <h3 class='review-card-subtotal'>{{ item.subtotal }}</h3>
                    <div class='review-card-quantity'>
                        {% if item.subtotal > 0 %}
                            <p class='button'>-</p>
                            <input type="number" class='quantity' name="quantity" min=0 value={{ item.quantity|default:0 }}>
                            <p class='button'>+</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class='container total'>
                        <h3>Total:</h3>
                        <h3>{{ order.total }}</h3>
                </div>
                <div class='container review-delivery-options'>
                    {% if order.order_type == 'I' %}
                        <label for="reservation-datetime">Reservation date and time:</label>
                        <input type="datetime-local" id="reservation-datetime" name="reservation-datetime">
                        <label for="reservation-table">Select your table:</label>
                        <select id="table" name="table">
                            {% for table in tables %}
                                <option value="table">Table {{ table }}</option>
                            {% endfor %}
                        </select>
                    {% elif order.order_type == 'P' %}
                        <label for="pickup-time">Pick-up time:</label>
                        <input type="time" id="pickup-time" name="pickup-time">
                    {% else %}
                        <input type="" class='input-choice' id="address" name="address" default="{{ user.address }}">
                    {% endif %}
                </div> {% endcomment %}
                {% comment %}
                even older iteration with a table (proof of concept)
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.orderitem_set.all %}
                            <tr>
                                <td>{{ item.menu_item.name }}</td>
                                <td>{{ item.quantity }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>Total</td>
                            <td>{{ order.total }}
                        </tr>
                    </tbody>
                </table>
            {% endcomment %}
    </main>
{% endblock %}