{% extends "restaurant/base.html" %}
{% load static %}

{% block title %}Sign In{% endblock %}

{% block stylesheet %}
<link href="{% static "restaurant/css/login.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main>
        <h1>Sign in to place your order</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{% url 'order-menu' %}">
            <button class='button' type="submit">Login</button>
        </form>
    </main>
{% endblock %}