{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block main-header %}
    <h1>About the Restaurant</h1>
{% endblock %}

{% block content %}
    <h2>History</h2>
    <p>Established in 2025 by Malek</p>
    <p>Contact</p>
    <p>Locatoin:</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13028.11422238904!2d35.86738865358701!3d32.049255567323726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c9e5a362daa79%3A0xa62d9102ddf9ea90!2z2LTYp9mI2LHZhdinINij2KjZiCDYrdin2KrZhSBBYnUgSGF0ZW0gU2hhd2VybWE!5e1!3m2!1sen!2sqa!4v1760078941858!5m2!1sen!2sqa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}