{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Restaurant{% endblock %}</title>
        {% block stylesheet %}
        <link rel="stylesheet" href="{% static 'restaurant/css/base.css' %}">
        {% endblock %}
    </head>
    <body>
        <header>
            {% block main-header %}
            {% endblock %}
            <p>Welcome,
                {% if user.is_authenticated %}
                    {{ user.username.capitalize }}
                {% else %}
                    Guest
                {% endif %}
                !</p>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        {% for path in auth_paths %}
                            {% if path != request.resolver_match.view_name %}
                                <li><a href="{% url path %}">{{path}}</a></li>
                            {% else %}
                                <li>{{path}}</li>
                            {% endif %}
                        {% endfor %}
                        <li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit">Log out</button>
                            </form>
                        </li>
                    {% else %}
                        {% for path in guest_paths %}
                            {% if path != request.resolver_match.view_name %}
                                <li><a href="{% url path %}">{{path}}</a></li>
                            {% else %}
                                <li>{{path}}</li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                </ul>
            </nav>
            </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>Copyright: <a href="https://github.com/malekbadarin">Malek Badarin 2025</a></p>
            <a href="https://maps.google.com/maps/dir//%D8%B4%D8%A7%D9%88%D8%B1%D9%85%D8%A7+%D8%A3%D8%A8%D9%88+%D8%AD%D8%A7%D8%AA%D9%85+Abu+Hatem+Shawerma+Karamah+St+Amman+Jordan%E2%80%AD/@32.050994,35.8783848,14z/data=!4m5!4m4!1m0!1m2!1m1!1s0x151c9e5a362daa79:0xa62d9102ddf9ea90">Directions</a>
        </footer>
    </body>
</html>